.homePageTitle {
  margin-bottom: 5px;
  font-weight: 800;
  color: darkgreen;
}

.homePageText {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 80px;
}

.zoomInOut {
  margin: 0 auto 200px;
   width: 100px;
   animation: zoomInOut 3s infinite;
}

.imgWrapper{
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.footer{
  display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

